body {
  background-color: blanchedalmond;
  font-family:
    Apple Chancery,
    cursive;
}
section {
  font-size: 30px;
  color: rgb(227, 8, 88);
  text-align: center;
}
h3 {
  font-size: 40px;
}
Button {
  background-color: rgb(214, 4, 123);
  color: white;
  padding: 2px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition:
    background-color 0.3s,
    transform 0.2s;
}
a {
  background-color: rgb(214, 4, 123);
  color: white;
  padding: 2px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition:
    background-color 0.3s,
    transform 0.2s;
}
button:active {
  background-color: rgb(228, 179, 187);
  transform: scale(0.95);
}

i class {
  background-color: black;
}
footer {
  display: inline-flex;
  gap: 200px;
}
